* {
    font-family: Helvetica;
}
body {
    margin: 0;
}
div.nav-flex-box {
    background-color: #efeffa;
    display: flex;
    padding: 2em;
    height: 1em;
    align-items: center;
    justify-content: space-around;
}

img.mainImg {
    display: block;
    margin: 0 auto;
}
span.techBlog {
    border: solid 2px #6d64ff;
    border-radius: 2rem;
    padding: 10px;
    background: linear-gradient(to right, #6d64ff 0%, #CF1512 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
div.techDesc {
    padding: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
a { 
    text-decoration: none; 
    color: black; 
   }
a:visited {
    text-decoration: none;
    color: black;
}
.blackBtn {
    padding: 15px;
    border: solid 3px #6d64ff;
    background-color: #313042;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.purpleBtn {
    padding: 15px;
    border: solid 3px #313042;
    background-color: #6d64ff;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.redBtn {
    padding: 15px;
    border: solid 3px #6d64ff;
    background-color: #CF1512;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.techArticles {
    font-size: 7vh;
    margin: auto;
    width: 50%;
    padding: 10px;
}


button:hover {
    box-shadow: 10px 10px 10px 5px #6d64ff;
}

/* .flex-box-card {
    border: solid 3px #6d64ff;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}
.flex-box-item {
    justify-items: center;
    margin: 20px;
}

.sideCard {
    background-color: #efeffa;
    margin: 4px;
    padding: 0;
} */
.flex-box-card {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
  }
.border {
    border: solid 3px #6d64ff;
    border-bottom-left-radius: 25px;
    border-top-style: hidden;
    border-right-style: hidden;
    margin: 0 auto;
}
.flex-box-vertical {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    justify-content: space-evenly;
  }
  
.purpleP{
    color: #6d64ff;
  }  
  .flex-box-horizontal {
    display: flex;
    margin-top: 0px;
  }
  
  .flex-box-item {
    display: flex;
    margin: 10px;
  }
  
  .sideCard {
    background-color: #efeffa;
    margin: 10px;
    flex: 0 1;
    align-items: center;
  }
.hrForCard {
    color: black;
    background-color: #6d64ff;
    width: 60px;
    height: 2px;
}
/* .flex-box-vertical {
    display: flex;
    flex-direction: column;
}
.flex-box-horizontal {
    display: flex;
    flex-direction: row;
} */