* {
    font-family: Helvetica;
}
body {
    margin: 0;

}
div.nav-flex-box {
    background-color: #efeffa;
    display: flex;
    padding: 2em;
    height: 1em;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
}

img.mainImg {
    display: block;
    margin: 0 auto;
}
span.techBlog {
    border: solid 2px #6d64ff;
    border-radius: 2rem;
    padding: 10px;
    background: linear-gradient(to right, #6d64ff 0%, #CF1512 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container img{
    height: 95vh;
    max-width: 960px;
}
.container {
    position: relative;
}
.container .techDesc {
    max-width: 50%;
    position: absolute;
    bottom: 200px;
    right: 125px;
    width: 550px;
}

div.techDesc {
    padding: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
a { 
    text-decoration: none; 
    color: black; 
   }
a:visited {
    text-decoration: none;
    color: black;
}
.blackBtn {
    padding: 15px;
    border: solid 3px #6d64ff;
    background-color: #313042;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.purpleBtn {
    padding: 15px;
    border: solid 3px #313042;
    background-color: #6d64ff;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.redBtn {
    padding: 15px;
    border: solid 3px #6d64ff;
    background-color: #CF1512;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.techArticles {
    font-size: 7vh;
    margin: auto;
    width: 50%;
    padding: 10px;
}


button:hover {
    box-shadow: 10px 5px #6d64ff;
}

/* .flex-box-card {
    border: solid 3px #6d64ff;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}
.flex-box-item {
    justify-items: center;
    margin: 20px;
}

.sideCard {
    background-color: #efeffa;
    margin: 4px;
    padding: 0;
} */
.flex-box-card {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
  }
.border {
    border: solid 3px #6d64ff;
    border-bottom-left-radius: 25px;
    border-top-style: hidden;
    border-right-style: hidden;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
.flex-box-vertical {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    justify-content: space-evenly;
  }
  
.purpleP{
    color: #6d64ff;
  }  
  .flex-box-horizontal {
    display: flex;
    margin-top: 0px;
  }
  
  .flex-box-item {
    display: flex;
    margin: 10px;
  }
  
  .sideCard {
    background-color: #efeffa;
    margin: 10px;
    flex: 0 1;
    align-items: center;
  }
.hrForCard {
    color: black;
    background-color: #6d64ff;
    width: 60px;
    height: 2px;
}
/* .flex-box-vertical {
    display: flex;
    flex-direction: column;
}
.flex-box-horizontal {
    display: flex;
    flex-direction: row;
} */

.centering-flex {

}
/* 
  display: flex;
  justify-content: center;
  align-items: center;
   */


.newBody {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
.newWrapper {
    max-width: 700px;
    width: 100%;
}
.footer-flex-box {
    margin-top: auto;
}
.pageTitle {
    font-size: 50px;
    margin-bottom: 50px;
}

.centering-flex form .article-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centering-flex form label {
    margin-left: 5px;
    margin-top: 500px;
}
.centering-flex form input {
    border: 1px solid black;
    height: 25px; 
}
.centering-flex form input, textarea {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 1rem;
    padding: 5px;
}
.field {
    margin-top: 10px;
    margin-bottom: 5;
}
.submitBtn {
    margin-bottom: 10px;
}

.article-wrapper {
    margin: 0 30vh 0 50vh;
}

.article-title {
    font-size: 7.5vh;
}

.article-author {
    background-color: #efeffa;
    width: fit-content;
}
.article-author  h4{
    padding: 10px;
}
.article-desc {
    color:#6d64ff;
}

.button-box {
    width: 105px;
    height: 100px;
    padding: 15px;
    border: solid 3px #6d64ff;
    background-color: #313042;
    border-radius: 1rem;
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.button-box p{
    margin-top: 85px;
    margin-left: 2px;
}