<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an article</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" /><script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
</head>
<body class="newBody">

        <div class="nav-flex-box">
            <a href="index.html"><span class="techBlog">Tech Blog</span></a>
            <select name="choices"> 
                <option>English</option> 
                <option>Arabic</option> 
            </select>
          </div>
          <div class="newWrapper">
        <div class="centering-flex"> 
            <h2 class="pageTitle">Create an article</h2>
            <form action="" method="get" name="newForm" onsubmit="validate()" onload="initForm()">
                <div class="article-details">
                    <div>
                        <label>Title</label>
                        <input type="text" name="title" id="">
                    </div>
                    <div class="field">
                        <label>Author</label>
                        <input type="text" name="author" value="Admin" id="">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="" id="" cols="20" rows="3"></textarea>
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <textarea name="content" id="froalaEditor1" cols="20" rows="10"></textarea>
                    </div>
                    <div class="field">
                        <label>Arabic Content</label>
                        <textarea name="" id="froalaEditor2" cols="20" rows="10"></textarea>
                    </div>
                    <Button type="submit" class="blackBtn submitBtn">Create</Button>
                </div>
            </form>
        </div>
    </div>

        <div class="nav-flex-box">
            <footer>© The <span class="techBlog">Tech Blog</span> 2023 created by 222-SWE-363 Student</footer>
        </div>
        <script src="/public/forntendJS.js"></script>
        <link href="/node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" /><script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script></body>
</html>